/* Write your CSS here */

.main-container {
  background-color: #1e293b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.small-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #f0bb03;
  font-size: 80px;
  font-family: Bree Serif;
  font-weight: bold;
}

.para {
  color: white;
  font-size: 40px;
  font-family: Bree Serif;
  font-weight: bold;
}

.subscribe-button {
  text-align: center;
  background-color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
  border-radius: 12px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}
